{% extends 'index.html' %}
{% load static %}
{% block title %}Form page{% endblock %}
{% block content %}
<h1>Welcome to the Form Page</h1>
<div class="col-md-6" style="margin: 0 auto;display: block;">
    {% if error == True %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong> {{errormsg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
      {% if success == True %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong> {{successmsg}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
<form method="POST">
    <p class="text-muted">Note *: Title should be in Captial</p>
    {% csrf_token %}
    {{form.as_ul}} <!-- as_p means as the paragraph...as_table means table view as_ul means unorder list bullet marks -->
    <button type="submit" class="btn btn-primary" style="margin:1 rem 10px;">submit</button>
</form>

</div>
{% endblock %}