{% extends 'index.html' %}
{% load static %}
{% block title %}Image page {% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        {% if var %}
        <div class="col-6">
            <img src="{% static 'django.png' %}" class="img-fluid" alt="Avenger">
        </div>
        {% else  %}
        <div class="col-6">
            <img src="{% static 'python.webp' %}" class="img-fluid" alt="Avenger">
        </div>
        {% endif %}
    </div>
</div>
<h1>Image page</h1>
<h1>{{var}}</h1>
<h1>{{msg}}</h1>
{{ani}}
{% endblock %}