<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>FirstPage</title>
    {% endblock %}
</head>
<body>
  {% block content %}
    <h1>Welcome To the First Page</h1>
    {% endblock %}
    
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <h1>Choose the file </h1>
  <div class="">
    <label for="formFile" class="form-label">Default file input example</label>
    <input class="form-control" type="file" id="formFile">
  </div>
  <div class="">
    <label for="formFileMultiple" class="form-label">Multiple files input example</label>
    <input class="form-control" type="file" id="formFileMultiple" multiple>
  </div>
  <div class="">
    <label for="formFileDisabled" class="form-label">Disabled file input example</label>
    <input class="form-control" type="file" id="formFileDisabled" disabled>
  </div>
  <div class="">
    <label for="formFileSm" class="form-label">Small file input example</label>
    <input class="form-control form-control-sm" id="formFileSm" type="file">
  </div>
  <div>
    <label for="formFileLg" class="form-label">Large file input example</label>
    <input class="form-control form-control-lg" id="formFileLg" type="file">
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <form method="GET" action="{% url 'submitform' %}">
          <div class="form-group" style="text-align: center;">
            <label for="Mytext">Mytext</label><br>
            <input type="text" name="Mytext" id="Mytext" class="form-control">
          </div>
          <div class="form-group" style="margin: 10px; text-align: center;">
            <label for="Mytextarea">MytextArea</label><br>
            <textarea type="textarea" name="Mytextarea" id="Mytextarea" class="form-control" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">submit</button>
        </form>

      </div>
    </div>
  </div>
    
</body>
</html>