<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table{
            border-collapse: collapse;
        }
        table,tr,th{
            border:1px solid #222;
            padding: 10px;
            margin:10px;
        }
    </style>
</head>
<body>
    <h1>Welcome</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non modi temporibus voluptatem optio, harum sed saepe deleniti commodi esse fugiat quis minima. Minima atque iste, pariatur voluptas cumque ex. Error voluptate earum unde, assumenda harum fugit saepe modi numquam fugiat ex ut consequuntur enim odit quis nemo eos, vel aliquam.</p>
    {{users}}
    <table>
        <tr>
            <th>S.NO</th>
            <th>Name</th>
            <th>Age</th>
            <th>Eligibility</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{user.name}}</td>
            <td>{{user.Age}}</td> 
            <td>{% if user.Age >= 18 %} Yes {% else %} No {% endif %}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>